*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 80vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    color: #323131d4;
    margin: 0 auto;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width:835px){
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1280px){
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1500px){
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(167, 163, 163);
    border-radius: 8px;
}

.card_img_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}

@media (min-width:768px){
    .card_img_container{
        height: 12rem;
    }
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(26, 24, 24);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title_anchor:hover .card_title{
    color: rgb(68, 68, 148);
}

.card_desc{
    color: rgb(133, 124, 124);
    font-size: 1rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avtar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(152, 148, 148);
    border-radius: 50%;
    background-color: rgb(242, 236, 236);
}

.author_info_container{
    display: flex;
    flex-direction: column;
}

.author_name{
    color: rgb(95, 95, 191);
    font-weight: 600;
}

.author_date{
    color: rgb(141, 136, 136);
}

.card_tag_container{
    font-size: 0.79rem;
    border: 1px solid rgb(80, 73, 73);
    border-radius:4px ;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: gray;
}